<% provide(:title, @taxon.name) %>
<%= render "light_section", taxon: @taxon %>
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
        <%= render "products_categories", taxonomies: @taxonomies %>
        <%= render "filter_by_colors" %>
        <%= render "filter_by_size" %>
      </div>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <%= render "filter_by_sort" %>
        <%= render "products", products: @products %>
      </div>
    </div>
  </div>
</section>
<%= render "shared/light_sections" %>