<% provide(:title, @product.name) %>
<%= render "light_section", product: @product %>
<section class="mainContent clearfix">
  <div class="container">
    <%= render "product_detail", product: @product %>
    <%= render "related_products", related_products: @related_products %>
  </div>
</section>