<%= render "banner" %>
<section class="mainContent clearfix">
  <div class="container">
    <%= render "fashion_categories" %>
    <%= render "products" %>
  </div>
</section>
<%= render "shared/light_sections" %>
